<div class="login-container">
  <h2>Login</h2>
  
  <form (ngSubmit)="fazerLogin()"> <!-- Chama a função fazerLogin ao submeter o formulário -->
  
    <div class="form-group">
      <label for="usuario">Usuário</label>
      <input type="text" id="usuario" [(ngModel)]="usuario" name="usuario" class="form-control" required /> <!-- Campo obrigatório para o nome do usuário -->
    </div>
  
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" id="senha" [(ngModel)]="senha" name="senha" class="form-control" required /> <!-- Campo obrigatório para a senha -->
    </div>
  
  <br>
    <button type="submit" class="btn btn-primary btn-block">Entrar</button> <!-- Botão para submeter o formulário -->
  
  </form>
  
  <!-- Mensagem de erro ao tentar fazer login -->
  <div *ngIf="erroLogin" class="text-danger mt-2">Usuário ou senha inválidos</div>
  
  <!-- Mensagem de sucesso ao realizar login -->
  <div *ngIf="loginSucesso" class="text-success mt-2">Login bem-sucedido</div>
</div>
