*{
    margin: 0px;
    padding: 0px;
}
.box-titulo{
    background-color: black;
    color: white;
    height: 60px;
    display: flex;

}

.box.titulo h1{
    font-size: 22px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 30px;
    line-height: 60px;    
}



